<!-- Validation failure messages -->
<% if @beneficiary.errors.any? %>
  <% @beneficiary.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Beneficiary #<%= @beneficiary.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_beneficiary/<%= @beneficiary.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for transaction_id -->
      <div class="form-group">
        <label for="transaction_id" class="control-label">
          Transaction
        </label>

        <input type="text" id="transaction_id" name="transaction_id" placeholder="Transaction" class="form-control" value="<%= @beneficiary.transaction_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @beneficiary.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Beneficiary
      </button>
      or
      <a href="/beneficiaries/<%= @beneficiary.id %>">Cancel</a>
    </form>
  </div>
</div>
